Repository Cahllagerfeld/tanstack-router-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: bun oxlint --fix {staged_files}

prettier:
  run: bun prettier --write {staged_files}

docs: clean up readme
  README.md
Due: prettier

fix: migrate to mono package
  bun.lockb
  package.json
  src/components/ui/alert-dialog.tsx
  src/components/ui/avatar.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/label.tsx
  src/components/ui/popover.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/tooltip.tsx
Due: prettier

refactor: migrate to mono package (#86)
  bun.lockb
  package.json
  src/components/ui/alert-dialog.tsx
  src/components/ui/avatar.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/label.tsx
  src/components/ui/popover.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/tooltip.tsx
Due: prettier

feat: init service accounts
  src/components/sidebar/unscoped/service.ts
  src/data/api.ts
  src/data/projects/index.ts
  src/data/projects/queries/projects-list.ts
  src/data/service-accounts/index.ts
  src/data/service-accounts/queries/sa-list.ts
  src/data/user/index.ts
  src/data/user/queries/user-list.ts
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/settings/service-accounts/index.lazy.tsx
  src/routes/(private)/_unscoped/settings/service-accounts/index.tsx
  src/types/core.ts
  src/types/service-accounts.ts
  src/types/user.ts
Due: oxlint, prettier

fix: lint staged
  lefthook.yaml
Due: prettier

feat: login after activation
  src/data/server/activate-server.ts
  src/features/server-activation/use-password-step.tsx
Due: oxlint, prettier

feat: new types
  src/components/not-available-tag.tsx
  src/types/core.ts
Due: oxlint, prettier

feat: new types (#92)
  src/components/not-available-tag.tsx
  src/types/core.ts
Due: oxlint, prettier

refactor: es-toolkit
  bun.lockb
  package.json
  src/components/debounced-input.tsx
Due: prettier

refactor: use es-toolkit (#93)
  bun.lockb
  package.json
  src/components/debounced-input.tsx
Due: prettier

chore: update dependencies
  bun.lockb
  package.json
  src/context/auth.tsx
  src/routeTree.gen.ts
  vite.config.ts
Due: oxlint, prettier

chore: update dependencies (#94)
  bun.lockb
  package.json
  src/context/auth.tsx
  src/routeTree.gen.ts
  vite.config.ts
Due: oxlint, prettier

fix: pagination component
  src/components/pagination.tsx
  src/components/ui/button.tsx
  src/components/ui/pagination.tsx
  src/features/filters/type-filter.tsx
  src/features/projects/overview/project-list.tsx
  src/features/users/list/user-list.tsx
Due: none

chore: use devenv
  .envrc
  .gitignore
  devbox.json
  devbox.lock
  devenv.lock
  devenv.nix
  devenv.yaml
Due: prettier

chore: use devenv (#97)
  .envrc
  .gitignore
  devbox.json
  devbox.lock
  devenv.lock
  devenv.nix
  devenv.yaml
Due: prettier

refactor: remove auth context
  src/assets/styles/tailwind.css
  src/context/auth.tsx
  src/data/session/logout.ts
  src/features/login/login-form.tsx
  src/lib/auth-guards.ts
  src/main.tsx
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(public)/_grid-layout.tsx
  src/routes/(public)/_grid-layout/login.tsx
  src/routes/__root.tsx
Due: oxlint, prettier

refactor: remove auth context (#98)
  src/assets/styles/tailwind.css
  src/context/auth.tsx
  src/data/session/logout.ts
  src/features/login/login-form.tsx
  src/lib/auth-guards.ts
  src/main.tsx
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/routes/(public)/_grid-layout.tsx
  src/routes/(public)/_grid-layout/login.tsx
  src/routes/__root.tsx
Due: oxlint, prettier

feat: add vitest
  bun.lockb
  package.json
  src/features/filters/components.spec.ts
  src/features/filters/components.ts
  src/features/filters/filter.spec.ts
  src/features/filters/filter.ts
  src/features/filters/type-filter.tsx
  src/features/login/hooks/use-login-form.ts
  src/features/login/login-form.tsx
  src/features/projects/create/dialog/form.tsx
  src/features/projects/create/dialog/use-create-project-form.ts
  src/lib/images.spec.ts
  src/lib/localstorage.spec.ts
  src/lib/sleep.ts
  vite.config.ts
Due: oxlint, prettier

refactor: start refactoring for adding tests
  src/components/pagination/index.tsx
  src/components/pagination/page-numbers.spec.ts
  src/components/pagination/page-numbers.ts
  src/features/server-activation/use-password-step.ts
Due: oxlint, prettier

refactor: relocate pagination
  src/features/pagination/index.tsx
  src/features/pagination/page-numbers.spec.ts
  src/features/pagination/page-numbers.ts
  src/features/projects/overview/project-list.tsx
  src/features/users/list/user-list.tsx
Due: oxlint, prettier

ci: add action
  .github/workflows/unit-test.yml
Due: prettier

fix: use bun
  .github/workflows/unit-test.yml
Due: prettier

feat: add Vitest (#99)
  .github/workflows/unit-test.yml
  bun.lockb
  package.json
  src/features/filters/components.spec.ts
  src/features/filters/components.ts
  src/features/filters/filter.spec.ts
  src/features/filters/filter.ts
  src/features/filters/type-filter.tsx
  src/features/login/hooks/use-login-form.ts
  src/features/login/login-form.tsx
  src/features/pagination/index.tsx
  src/features/pagination/page-numbers.spec.ts
  src/features/pagination/page-numbers.ts
  src/features/projects/create/dialog/form.tsx
  src/features/projects/create/dialog/use-create-project-form.ts
  src/features/projects/overview/project-list.tsx
  src/features/server-activation/use-password-step.ts
  src/features/users/list/user-list.tsx
  src/lib/images.spec.ts
  src/lib/localstorage.spec.ts
  src/lib/sleep.ts
  vite.config.ts
Due: oxlint, prettier

refactor: add base table action abstraction
  src/components/base-table-actions.tsx
  src/features/projects/overview/project-actions.tsx
  src/features/users/list/admin-actions.tsx
Due: none

refactor: add base table action abstraction (#100)
  src/components/base-table-actions.tsx
  src/features/projects/overview/project-actions.tsx
  src/features/users/list/admin-actions.tsx
Due: none

feat: avatar
  src/components/avatars/fallback-colors.ts
  src/components/avatars/inline-avatar.tsx
  src/features/stacks/list/columns.tsx
  src/lib/images.ts
Due: oxlint, prettier

refactor: diverse updates
  bun.lock
  bun.lockb
  devenv.lock
  devenv.nix
  src/lib/constants/component-types.ts
  src/types/core.ts
  vite.config.ts
Due: oxlint, prettier

feat: updates
  bun.lock
  package.json
  src/data/projects/mutations/create-project.ts
  src/data/projects/mutations/delete-project.ts
  src/data/server/activate-server.ts
  src/data/session/login.ts
  src/data/session/logout.ts
  src/routeTree.gen.ts
  vite.config.ts
Due: oxlint, prettier

feat: diverse changes (#105)
  bun.lock
  bun.lockb
  devenv.lock
  devenv.nix
  package.json
  src/data/projects/mutations/create-project.ts
  src/data/projects/mutations/delete-project.ts
  src/data/server/activate-server.ts
  src/data/session/login.ts
  src/data/session/logout.ts
  src/lib/constants/component-types.ts
  src/routeTree.gen.ts
  src/types/core.ts
  vite.config.ts
Due: oxlint, prettier

feat: custom script
  devenv.nix
  scripts/install-zenml-branch.sh
Due: none

feat: custom install script (#106)
  devenv.nix
  scripts/install-zenml-branch.sh
Due: none

fix: update dependencies
  bun.lock
  package.json
Due: prettier

fix: update dependencies (#107)
  bun.lock
  package.json
Due: prettier

ci: add renovate json
  renovate.json
Due: prettier

feat: misc updates
  devenv.lock
  src/types/core.ts
Due: oxlint, prettier

feat: misc updates (#120)
  devenv.lock
  src/types/core.ts
Due: oxlint, prettier

Path conditions:
  oxlint: any of: *.{js,ts}
  prettier: any of: *.{js,json,md,svelte,ts,yaml,yml}
