Repository Cahllagerfeld/tanstack-router-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: bun oxlint --fix {staged_files}

prettier:
  run: bun prettier --write {staged_files}

refactor: rest occurrencies of workspace
  src/components/sidebar/app-sidebar.tsx
  src/components/sidebar/project-switcher.tsx
  src/features/create-project/create-project-dialog.tsx
  src/features/create-project/schema.ts
  src/features/create-workspace/schema.ts
  src/lib/localstorage.ts
  src/lib/projects.ts
Due: oxlint, prettier

refactor: more refactorings
  devbox.json
  devbox.lock
  src/context/auth.tsx
  src/lib/localstorage.ts
Due: oxlint, prettier

feat: more code
  src/components/sidebar/project-switcher.tsx
  src/data/api-client.ts
  src/features/create-project/create-project-dialog.tsx
  src/features/create-project/schema.ts
  src/lib/constants.ts
  src/lib/images.ts
Due: oxlint, prettier

refactor: migrate workspaces to projects (#42)
  devbox.json
  devbox.lock
  package.json
  src/components/sidebar/app-sidebar.tsx
  src/components/sidebar/project-switcher.tsx
  src/context/auth.tsx
  src/data/api-client.ts
  src/data/api.ts
  src/data/components/index.ts
  src/data/components/queries/component-list.ts
  src/data/projects/index.ts
  src/data/projects/mutations/create-project.ts
  src/data/projects/queries/projects-list.ts
  src/data/workspaces/index.ts
  src/data/workspaces/queries/workspace-list.ts
  src/features/create-project/create-project-dialog.tsx
  src/features/create-project/schema.ts
  src/features/create-workspace/schema.ts
  src/lib/constants.ts
  src/lib/images.ts
  src/lib/localstorage.ts
  src/lib/projects.ts
  src/lib/workspaces.ts
  src/routeTree.gen.ts
  src/routes/(private)/$project_id.lazy.tsx
  src/routes/(private)/$project_id.tsx
  src/routes/(private)/$project_id/components/index.lazy.tsx
  src/routes/(private)/$project_id/components/index.tsx
  src/routes/(private)/$project_id/index.lazy.tsx
  src/routes/(private)/$workspace_id.lazy.tsx
  src/routes/(private)/index.tsx
  src/types/components.ts
  src/types/core.ts
  src/types/projects.ts
  src/types/workspaces.ts
Due: oxlint, prettier

feat: update deps
  bun.lockb
  package.json
Due: prettier

feat: update deps (#44)
  bun.lockb
  package.json
Due: prettier

chore: various cleanup
  src/components/sidebar/project-switcher.tsx
  src/data/projects/index.ts
  src/data/projects/queries/projects-list.ts
  src/features/projects/create/dialog/create-project-dialog.tsx
  src/features/projects/create/dialog/schema.ts
  src/lib/constants/storage.ts
  src/lib/images.ts
  src/lib/querystring.ts
  src/lib/type-guards.ts
  src/lib/url.ts
  src/types/projects.ts
Due: oxlint, prettier

feat: project list
  src/components/sidebar/app-sidebar.tsx
  src/components/sidebar/nav-main.tsx
  src/components/sidebar/nav-projects.tsx
  src/components/sidebar/nav-user.tsx
  src/components/sidebar/project-switcher.tsx
  src/components/sidebar/unscoped-sidebar.tsx
  src/components/ui/checkbox.tsx
  src/data/api-client.ts
  src/data/projects/index.ts
  src/data/projects/mutations/create-project.ts
  src/data/projects/mutations/delete-project.ts
  src/data/projects/queries/project-detail.ts
  src/data/projects/queries/projects-list.ts
  src/features/projects/create/dialog/create-project-dialog.tsx
  src/features/projects/create/dialog/dialog-content.tsx
  src/features/projects/create/dialog/form.tsx
  src/features/projects/delete/delete-project-alert.tsx
  src/features/projects/overview/project-actions.tsx
  src/features/projects/overview/project-item.tsx
  src/features/projects/overview/set-project-command.tsx
  src/hooks/use-copy.tsx
  src/lib/names.ts
  src/lib/users.ts
  src/routeTree.gen.ts
  src/routes/(private)/$project_id.lazy.tsx
  src/routes/(private)/$project_id.tsx
  src/routes/(private)/_scoped/projects/$project_id.lazy.tsx
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_scoped/projects/$project_id/index.lazy.tsx
  src/routes/(private)/_unscoped.lazy.tsx
  src/routes/(private)/_unscoped/components/index.lazy.tsx
  src/routes/(private)/_unscoped/components/index.tsx
  src/routes/(private)/_unscoped/projects.lazy.tsx
  src/routes/(private)/_unscoped/projects.tsx
  src/routes/(private)/_unscoped/settings/general.tsx
  src/routes/(private)/index.tsx
  src/types/projects.ts
Due: oxlint, prettier

feat: add search
  bun.lockb
  package.json
  src/components/debounced-input.tsx
  src/components/no-item-fallback.tsx
  src/components/sidebar/nav-projects.tsx
  src/features/filters/filter.ts
  src/features/projects/overview/project-list-no-items-fallback.tsx
  src/features/projects/overview/project-list-skeleton.tsx
  src/features/projects/overview/project-list.tsx
  src/features/projects/overview/searchbar.tsx
  src/routes/(private)/_unscoped/projects.lazy.tsx
  src/routes/(private)/_unscoped/projects.tsx
Due: oxlint, prettier

fix: lint errors
  src/features/filters/type-filter.tsx
  src/features/server-activation/password-step.tsx
  src/routes/(private)/_unscoped/projects.lazy.tsx
Due: none

refactor: update shadcn components
  bun.lockb
  package.json
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/pagination.tsx
  src/components/ui/popover.tsx
  src/components/ui/select.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/tooltip.tsx
Due: prettier

feat: add pagination
  bun.lockb
  src/components/pagination.tsx
  src/components/ui/pagination.tsx
  src/data/projects/queries/projects-list.ts
  src/features/projects/overview/project-list-skeleton.tsx
  src/features/projects/overview/project-list.tsx
  src/routes/(private)/_unscoped/projects.lazy.tsx
  src/routes/(private)/_unscoped/projects.tsx
Due: oxlint, prettier

refactor: type
  src/components/ui/pagination.tsx
Due: none

feat: init vitest
  bun.lockb
  package.json
  src/lib/url.spec.ts
  vite.config.ts
Due: oxlint, prettier

feat: use different command
  package.json
Due: prettier

feat: add hook for sidebar
  src/components/sidebar/nav-main.tsx
  src/components/sidebar/nav-secondary.tsx
  src/components/sidebar/unscoped/index.tsx
  src/components/sidebar/unscoped/service.ts
  src/hooks/use-sidebar-items.tsx
  src/routes/(private)/_unscoped.lazy.tsx
  src/types/navbar.ts
Due: oxlint, prettier

feat: add hook for sidebar (#48)
  src/components/sidebar/nav-main.tsx
  src/components/sidebar/nav-secondary.tsx
  src/components/sidebar/unscoped/index.tsx
  src/components/sidebar/unscoped/service.ts
  src/hooks/use-sidebar-items.tsx
  src/routes/(private)/_unscoped.lazy.tsx
  src/types/navbar.ts
Due: oxlint, prettier

refactor: component table
  src/components/not-available-tag.tsx
  src/components/ui/badge.tsx
  src/components/ui/data-table.tsx
  src/features/components/components-list/columns.tsx
Due: none

feat: add python
  devbox.json
  devbox.lock
Due: prettier

chore: add python to devenv (#54)
  devbox.json
  devbox.lock
Due: prettier

refactor: component table (#55)
  src/components/not-available-tag.tsx
  src/components/ui/badge.tsx
  src/components/ui/data-table.tsx
  src/features/components/components-list/columns.tsx
Due: none

chore: adjust server activation
  src/data/server/index.ts
  src/features/server-activation/password-step.tsx
  src/features/server-activation/use-password-step.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped.tsx
  src/routes/__root.tsx
Due: oxlint, prettier

chore: update types
  src/types/core.ts
Due: oxlint, prettier

feat: fixes to server activation (#58)
  src/data/server/index.ts
  src/features/server-activation/password-step.tsx
  src/features/server-activation/use-password-step.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_scoped/projects/$project_id.tsx
  src/routes/(private)/_unscoped.tsx
  src/routes/__root.tsx
  src/types/core.ts
Due: oxlint, prettier

feat: init user list
  src/components/sidebar/nav-user.tsx
  src/components/sidebar/unscoped/service.ts
  src/data/api.ts
  src/data/user/index.ts
  src/data/user/queries/user-list.ts
  src/features/users/list/columns.tsx
  src/features/users/list/is-admin-badge.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/settings/members.lazy.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/types/user.ts
Due: oxlint, prettier

feat: adjustments
  src/data/user/index.ts
  src/data/user/queries/current-user.ts
  src/features/users/list/admin-actions.tsx
  src/features/users/list/columns.tsx
  src/features/users/list/is-active-badge.tsx
  src/features/users/list/is-admin-badge.tsx
  src/routes/(private)/_unscoped/settings/members.lazy.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
Due: oxlint, prettier

feat: add search & pagination
  src/components/pagination.tsx
  src/features/users/list/columns.tsx
  src/features/users/list/searchbar.tsx
  src/features/users/list/user-list-skeleton.tsx
  src/features/users/list/user-list.tsx
  src/routes/(private)/_unscoped/settings/members.lazy.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
Due: none

feat: member list (#60)
  src/components/pagination.tsx
  src/components/sidebar/nav-user.tsx
  src/components/sidebar/unscoped/service.ts
  src/data/api.ts
  src/data/user/index.ts
  src/data/user/queries/current-user.ts
  src/data/user/queries/user-list.ts
  src/features/users/list/admin-actions.tsx
  src/features/users/list/columns.tsx
  src/features/users/list/is-active-badge.tsx
  src/features/users/list/searchbar.tsx
  src/features/users/list/user-list-skeleton.tsx
  src/features/users/list/user-list.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/settings/members.lazy.tsx
  src/routes/(private)/_unscoped/settings/members.tsx
  src/types/user.ts
Due: oxlint, prettier

fix: member table
  src/features/users/list/columns.tsx
Due: none

fix: member table (#63)
  src/features/users/list/columns.tsx
Due: none

chore: adjust redirect logic
  src/routes/(private)/index.tsx
Due: none

chore: adjust redirect logic (#71)
  src/routes/(private)/index.tsx
Due: none

feat: add option for next after login
  src/features/login/login-form.tsx
  src/routes/(public)/_grid-layout/login.tsx
Due: none

feat: add option for next after login (#72)
  src/features/login/login-form.tsx
  src/routes/(public)/_grid-layout/login.tsx
Due: none

feat: init update server settings form
  src/data/api-client.ts
  src/data/server/index.ts
  src/data/server/settings.ts
  src/data/server/update-server-settings.ts
  src/features/settings/general/form/general-settings-form.tsx
  src/features/settings/general/form/use-settings-form.ts
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/settings/general.lazy.tsx
  src/routes/(private)/_unscoped/settings/general.tsx
  src/types/server.ts
Due: oxlint, prettier

feat: enable analytics
  bun.lockb
  package.json
  src/components/ui/switch.tsx
  src/data/server/update-server-settings.ts
  src/features/settings/general/form/general-settings-form.tsx
  src/features/settings/general/form/use-settings-form.ts
Due: oxlint, prettier

feat: init stack list
  src/components/sidebar/unscoped/service.ts
  src/data/api.ts
  src/data/stacks/index.ts
  src/data/stacks/queries/stack-list.ts
  src/features/stacks/list/columns.tsx
  src/features/stacks/list/table.tsx
  src/routeTree.gen.ts
  src/routes/(private)/_unscoped/stacks/index.lazy.tsx
  src/routes/(private)/_unscoped/stacks/index.tsx
  src/types/stacks.ts
Due: oxlint, prettier

fix: small tweaks
  src/data/components/queries/component-list.ts
  src/routes/(private)/_unscoped/components/index.lazy.tsx
  src/routes/(private)/_unscoped/components/index.tsx
Due: oxlint, prettier

docs: clean up readme
  README.md
Due: prettier

Path conditions:
  oxlint: any of: *.{js,ts}
  prettier: any of: *.{js,json,md,svelte,ts,yaml,yml}
